__pycache__
*.swn
*.swo
*.swp
*~
# editor settings
.idea
.vscode
_darcs
result/cifar100*/
result/food101*/
result/svhn*/
result/result.yaml
raw_weights
pretrained_checkpoint
data
run01*.sh
run23*.sh
log.txt
_history*